@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;600;700;900&display=swap');

body{
    direction: ltr;
    background-color: rgba(127, 255, 212, 0.697);
    /* background-image: url(./../images/Contact\ Grid\ Wallpaper\ •\ Milton\ &\ King.png
    ); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Heebo', sans-serif;
}

h1{
    text-align: center;
}

.frame{
    width:670px;
    min-height:440px;
    background-color: rgba(14, 13, 13, 0.905);
    margin:80px auto;
    padding: 25px;
    border-radius: 12px;
    /* box-shadow: 0 0 5px 0; */
   position: relative;


}

.frame .textEx{
    direction: rtl;
    color:antiquewhite;
    padding:25px;
}

.frame .textEx p{

    padding-top:25px;
}

.frame>.game{
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame div div:not(button){
    text-align: center;
    font-size: 63px;
    font-weight: 900;
    color:antiquewhite;
    padding:5px;
    margin:8px;
}



.divNum1{
    /* width:100px;
    height:100px; */
    /* background-color: yellow; */
    /* border: 2px solid black; */
    font-size: 63px;
}

.divNum2{
    /* width:100px;
    height:100px; */
    /* background-color: green; */
    /* border: 2px solid black; */
    font-size: 40px;

}

.divOp{
    /* width:100px;
    height:100px; */
    
    /* background-color: blue; */
    /* border: 2px solid black; */
    font-size: 100px;
    
}

.Equal{
    /* width:100px;
    height:100px; */
    font-size: 55px;
    color:aliceblue;
}

.inputGame{
    width:200px;
    height:55px;
    font-weight: 700;
    margin-left:8px;
    font-size: 53px;
    color:rgb(62, 57, 57);
    border-radius: 8px;
}



.btn-chack{
    background-color:pink;
    border:none;
    width:190px;
    height:45px;
    font-size:18px;
    border-radius: 12px;
    font-weight: 700;
   position: absolute;
   top:340px;
   right:90px;
}

.right{
    background-color: green;
}



.gameOver{
    width:520px;
    height:500px;
    color:antiquewhite;
    background-color: rgba(14, 13, 13, 0.905);
    font-size: 45px;
    text-align: center;
    border-radius: 12px;

    position: absolute;
    margin:auto;
    top:0;
    bottom: 0;
    right:0;
    left:0;
}