body{
    direction: rtl;
    padding:8px;
    min-width: 100%;
}
frame{
    position: relative;
}
h2{
    text-align: center;
}
.frameTeachers{

    /* width: 100%; */
    background-color: bisque;
    padding-right: 100px;
}

.teachers{
    width:200px;
    height:150px;
    margin:25px;
    background-color: rgb(201, 156, 101);
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 5px;
    text-align: center;
    transition: 0.5s;
    font-size: 30px;
    padding: 25px;
}

.teachers:hover{
    scale: 1.1;
}

.info{
    background-color: rgba(0, 0, 0, 0.397);
    position: fixed;
    margin:auto;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.modalframe{
    width:300px;
    height:600px;
    background-color: rgba(58, 86, 226, 0.755);
   display: block;
   border: 1px solid gray;
   font-size: 12px;
   color:antiquewhite;
   font-weight: bold;
   padding: 12px;
   border-radius: 12px;

   position: absolute;
   margin:auto;
   top:0;
   right:0;
   left:0;
   bottom: 0;
}


.modalframe button{
    transition: 0.5s;
    
}

.modalframe button:hover{
    scale: 1.1;
}





