@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;500;600&display=swap');

body{
    direction: rtl;
    margin:0;
    padding:0;
    font-family: 'Assistant', sans-serif;
}

.bigDiv{
    height: 500px;
    background-image: url(../images/Path\ 15@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;




    section{
        width: 800px;
        position:absolute;
        top:190px;
        margin: auto;
        right:0;
        left:0;
        text-align: center;

        h1{
            font-size: 60px;
            color:#D3E10E;
            font-weight: 700;
            margin:0;
                }

        p{
            font-size: 15px;
            color: #F9F9F9;
            font-weight: 400;
                }
    }
    
}

form{
    margin: 40px 50px 30px 50px;
    display:flex;
    justify-content: center;
    font-family: 'Heebo', sans-serif;

    .form-div{
        display:inline-block;
        margin:12px;
        width:300px;
    }


    label{
        font-size: 14px;
        color:#011560;
        font-weight:bold;
        display:block;
            }

    input{
        height: 28px;
        width:100%;
        border:none;
        border-bottom: 3px solid #D3E10E;
    }

    button{
        position: relative;
        top: 20px;
        background-color: #D3E10E;
        color: #011560;
        font-weight: bold;
        border: none;
        width: 110px;
        height: 30px;
        margin: 16px;
        font-size: 15px;
    }

    
}

@media (max-width: 768px) {
    .bigDiv{
        height:300px ;
        
        section{
            width:100%;
            top:80px;
            h1{
                font-size: 33px;
                font-weight: 700;
            }

            p{
                padding:12px;
                box-sizing: border-box;
            }
        }
    }

    form{
    display:block;

        .form-div{
            display:block;
            width:100%;
        }


        input{
            width:100%;
            background-color: #E5EEFF;
        }

        button{
            width:100%;
        }
    }
}